* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;

    color: #3e4152;
}

header {
    width: 100%;
    padding: 10px 0px;
    background-color: white;

    display: flex;
    justify-content: space-between;

    box-shadow: 0px 2px 10px 0px #ccc;

    position: fixed;
    top: 0px;
}

.headerLeft {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}

.headerLeft nav ul {
    display: flex;
    gap: 30px;
}

.headerLeft nav a {
    font-weight: bold;
    font-size: 14px;

    padding: 26px 0px;
}

.headerLeft nav a:hover {
    border-bottom: 3px solid #ff3f6c;
}

.headerLeft nav ul li a sup {
    font-size: 10px;
    color: rgb(254, 104, 129);
}

.headerRight {
    width: 50%;
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    width: 70%;
    height: 35px;
    display: flex;
}

.searchBar button {
    width: 10%;
    height: 100%;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f5f5f6;
    color: #3e4152
}

.searchBar input {
    width: 90%;
    height: 100%;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f5f5f6;
    padding-left: 10px;
}

.profile {
    display: flex;
    gap: 20px;
}

.profile a {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}



.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    margin-top: 70px;
    padding-top: 40px;
}

.offersSection {
    width: 100%;
}

.offersHeading {
    margin: 100px 0px 50px 30px;
    font-size: 25px;
    font-weight: bold;
}

.offerItems {

    display: flex;

}

.offerItems a img {
    width: 100%;
}


.brandSection {
    width: 100%;
}

.brandHeading {
    margin: 100px 0px 50px 30px;
    font-size: 25px;
    font-weight: bold;
}

.brandItems {
    width: 100%;
    display: flex;
    gap: 5px;
}

.brandItems a img {
    width: 100%;
}




.offersSection2 {
    width: 100%;
}

.offersHeading2 {
    margin: 100px 0px 50px 30px;
    font-size: 25px;
    font-weight: bold;
}

.offerItems2 {
    display: flex;
    width: 100%;
}

.offerItems2 a img {
    width: 100%;
}



.categorySection {
    width: 100%;
}

.categoryHeading {
    margin: 100px 0px 50px 30px;
    font-size: 25px;
    font-weight: bold;
}

.categoryItems {
    width: 100%;
    display: flex;
}

.categoryItems a img {
    width: 100%;
}




footer {
    width: 100%;
    margin-top: 50px;
    background-color: #fafbfc;
}

.midSection {
    width: 1000px;
    margin: auto;
    padding: 50px 0px;

    display: flex;
    justify-content: space-between;
}

.onlineLinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heading {
    font-size: 12px;
    font-weight: bold;
}

.links {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.policies {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.appLinks {
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apps {
    width: 300px;
    display: flex;
    gap: 10px;

    margin-bottom: 30px;
}

.apps a img {
    width: 100%;
}

.socialApp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialLinks {
    font-size: 25px;
    display: flex;
    gap: 10px;
}


.gaurantee {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.originality {
    display: flex;
    gap: 10px;
}

.originality img {
    width: 50px;
}

.return {
    display: flex;
    gap: 10px;
}

.return img {
    width: 50px;
}